@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-screen w-screen snap-both snap-mandatory overflow-auto overscroll-none;
  }
  body {
    @apply overscroll-none;
  }
  @font-face {
    font-family: "Klee One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/KleeOne-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Klee One";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/KleeOne-SemiBold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Playfair Light";
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Playfair9pt-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Playfair Display SC";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PlayfairDisplaySC-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Playfair Display SC";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PlayfairDisplaySC-Italic.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Bold.woff2) format("woff2");
  }
}

@layer components {
  .section-container {
    @apply w-screen min-h-screen h-max relative snap-start overflow-hidden;
  }
  .section-title {
    @apply text-left text-4xl font-section-title italic text-primary
      pl-6 pt-8 md:text-[4rem] md:pl-12 md:pt-16;
  }
  .section-content {
    @apply flex flex-col px-6 pt-16 pb-16 md:px-12 md:pt-24;
  }

  .second-title-stroke {
    @apply [-webkit-text-stroke:_0.2px_black;] [paint-order:stroke_fill];
  }
}

.hero-bg-mobile {
  @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2  z-0 object-cover w-[1000px] h-[1000px] max-w-none 
   lg:hidden;
}

.hero-bg-desktop {
  @apply absolute top-0 z-0 left-1/2 -translate-x-1/2 object-cover h-full hidden lg:block;
}

:root {
  --gradient-colors: 
    rgb(237, 231, 233) 0%,
    rgb(109, 170, 214) 15%,
    rgb(103, 100, 120) 65%,
    rgb(69, 60, 60) 85%,
    rgb(20, 20, 20) 100%;
}

.bg-gradient {
  background: linear-gradient(to bottom, var(--gradient-colors));
}

@media (min-width: 768px) {
  .bg-gradient {
    background: linear-gradient(to right, var(--gradient-colors));
  }
}


/* Safari 7.1+ */

_::-webkit-full-page-media, _:future, :root .desktop-safari-modal-height {
  height: auto;
}

.bg-scrolling-element-when-modal-active {
  /* when modal active */
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  /* Other browsers */
  overscroll-behavior: none;
}
